[submodule "amf"]
	path = NFs/amf
	url = https://github.com/gctziavas/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/gctziavas/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/gctziavas/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/gctziavas/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/gctziavas/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/gctziavas/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/gctziavas/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/gctziavas/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/gctziavas/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/gctziavas/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = https://github.com/gctziavas/chf.git
[submodule "tngf"]
	path = NFs/tngf
	url = https://github.com/gctziavas/tngf.git
[submodule "NFs/nef"]
	path = NFs/nef
	url = https://github.com/gctziavas/nef.git
[submodule "ci-test"]
	path = ci-test
	url = https://github.com/free5gc/ci-test.git
